---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon'
---
<body>
<div class="wrapper">



<Layout title="AppleShooooooops">
		<poop>AppleSheep</poop>
</Layout>

</div>

<div class="bottombar">
		<Icon name="bi:moon-fill" id="icon"/>
</div>

<div class='cursor'></div>

</body>

<style>
	
	[astro-icon="bi:moon-fill"] {
		color: var(--porpol);
	}
	body {
		background-color: var(--primary-color);
		height: 98vh;
	}
	#icon {
		width: 30px;
		cursor: pointer;
	}

	:root {
		--primary-color: #ffffff;
		--porpol: #AA30E9;
	}
	.darkroot{
		--primary-color: #272529;
		--porpol: #AA30E9;
	}
	
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		cursor: url('/public/pen-nib-solid.svg'), auto;
	}

	.bottombar {
		position: absolute;
		bottom: 3.5%;
		right: 3%;
		height: 17vh;
		width: 30px;
	}
	

	.wrapper {
		height: 75vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	poop {
		-webkit-text-fill-color: var(--porpol);
		color: #96ffce;
		text-size: 150px;
		text-weight: bolder;
		text-align: center;
		
	}

	html {
		font-size: 150px;
		-webkit-text-fill-color: rgb(0, 0, 0);
		font-weight: bolder;
		
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

</style>
